body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-around;
    /* font-size: 18px; */
}







/* .header-container{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    background-color: #1F2937;
    height: 500px;
    padding: 15px;
    justify-content: center;
    font-family: 'Roboto';
}

.header-menu {
    width: 85%;
    display: flex;  
    /* justify-content: space-between; */
    align-items: flex-start;
}

.header-logo {
    display: flex;
    font-size: 24px;
} */

/*
.header-link{
    display: flex;
    font-size: 18px;
}


.header-two {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #1F2937;
    height: 400px;
}

.header-text .heading{
    width: 500px;
    font-size: 48px;
    font-weight: bold;
} */

/* .header-text {
    width: 500px;
} */

/* .signup {
    background-color: rgb(84 152 255);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: flex;
    width: 100px;
    padding: 5px 5px 5px 20px;
    border-radius: 4px;
    margin: 10px 0;
} */