body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    align-items: space-around;
    font-family: 'monospace';
}

.top-section {
    color: #fff;
    background-color: #1F2937;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-link {
    width: 40%;
    justify-self: flex-end;
    font-size: 18p;
    color: #c4c6cb;
}

.header-link ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-link ul li {
    margin-left: 40%;
    transition: all .5s ease;
    border-radius: 10px;
    padding: 5px;
}

.header-links ul li:hover {
    color: #001F3F;
    background-color: #fff;
}

.top-image {
    display: flex;
    margin-left: 10px;
}

.image-placeholder {
    object-fit: contain;
    max-width: 100%;
}

.title {
    font-size: 60px;
    font-weight: 900;

}

.top-subsection {
    display: flex;
    margin-top: 60px;
    flex: 1;
    height: 90vh;
    justify-content: space-between;
}

.sub-text {
    margin-top: 15px;
    margin-bottom: 25px;
}

.top-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    margin-bottom: 80px;
}

.top-text .signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30%;
    transition: all .5s ease;
    /* font-family: "truenoexbd"; */
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 10px;
    /* margin: 10px; */
    color: white;
    font-weight: bold;
    flex-grow: 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-bottom: 10px;
}

.image-box {
    margin: 5px;
    justify-content: center;
}

.image-box img {
    height: 250px;
    width: 250px;
}

.image-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.quote-text {
    font-style: italic;
    font-size: 30px;
    font-family: 'Bona Nova', serif;
    font-weight: 500;
}

.quote-text::before{
    content: open-quote;
    font-size: 50px;
    color: #000000;
}

.quote-owner {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-family: 'Bona Nova', serif;
    font-weight: bold;
}

.signup-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.signup-content {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 9px;
    width: 70%;
    height: 40%;
}

.call-section {
    margin-top: 25px;
    color: #fff;
}

.signup-heading {
    font-size: 22px;
    font-weight: 550;
}

.signup-text {
    font-size: 16px;
}

.subscribe {
    display: flex;
    align-items: center;
}

.subs-button {
    width: 180px;
    padding: 6px;
    color: #fff;
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}

.footer {
    background-color: #2d3c50;
    color: white;
    justify-self: flex-end;
    align-items: center;
    text-align: center;
    font-size: 18px;
    height: 50px;
    padding-top: 40px;
}

